.portada-page {
  .section-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--ion-color-dark);
    margin: 0 0 12px 0;
  }

  .section-description {
    font-size: 14px;
    color: var(--ion-color-medium);
    margin: 0 0 20px 0;
    line-height: 1.5;
  }  
}

:host{
  ::ng-deep .cover-dashed-area {
        height: 150px;
        min-height: 150px;
      }
  }
    

