
  .section-title {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .section-description {
    font-size: 14px;
    color: var(--ion-color-medium);
    margin: 0 0 20px 0;
    line-height: 1.5;
  }  


:host{
  ::ng-deep .cover-dashed-area {
        height: 150px;
        min-height: 150px;
      }
  }
    

