/* home.page.scss */

ion-list {
  background: transparent; // El fondo lo da el content
  padding: 0px 0px; // Padding lateral en la lista
  margin: 0px !important; // Elimina el margen por defecto
}



/* Esto añade un margen inferior a cada tarjeta,
  excepto a la última
*/
.card-item {
  display: block; // Necesario para aplicar el margen
  margin-bottom: 12px;
}

/* src/global.scss */

.bottom-sheet-modal {
  /* ¡Esta es la clave para que la altura se ajuste al contenido! */
  --height: auto;



  /* Ajusta el "backdrop" (fondo oscuro) */
  .ion-backdrop {
    opacity: 0.5;
  }

  /* Necesario para que --height: auto funcione bien */
  .ion-page {
    position: relative;
    contain: content;
  }
}

ion-modal {
   --border-radius: 6px;
}
