<div class="header-container">
  <app-header-search
    (click)="openSearchSubscriptionsModal()"
  ></app-header-search>
  <section class="header-info-container">
    <h2 class="title">{{'my-subscriptions.title-subscriptions' | translate}}</h2>
  </section>
</div>
<ion-content app-layout-content>
  <ion-refresher
    slot="fixed"
    [mode]="'ios'"
    (ionRefresh)="loadMoreSubscriptions($event)"
    position="top"
  >
    <ion-refresher-content
      pullingText="{{ 'common.load-more-elements-pagination' | translate }}"
      refreshingText=" common.loading | translate"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list [lines]="'none'">
    @for (sub of subscriptions(); track sub) {
    <lib-user-card
      [imageUrl]="sub.user.profilePictureUrl"
      [name]="sub.user.name"
      [descriptionPlan]="sub.fullDescription"
      [nickName]="sub.user.nickName"
      class="card-item"
      (optionsClick)="onShowOptions(sub, $event)"
      [email]="sub.user.email"
      [endData] = "sub.endDate"
      [amount] = "sub.amount"
    ></lib-user-card>
    }@empty {
    <lib-empty-elements-component
      [imgPath]="imgUrl()"
      [message]="textMessage()"
    >
    </lib-empty-elements-component>
    }
  </ion-list>
</ion-content>
