<app-modal-header-searchbar
  [titleText]="'favorites.search-title' | translate"
  [placeholderText]="'favorites.find-favorite' | translate"
  (dismiss)="onDismiss()"
  (search)="onSearch($event)"
></app-modal-header-searchbar>
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid class="workout-grid" style="margin-bottom: 80px">
    <ion-row gap="5px">
      @for (favorite of favorites(); track favorite.favoriteId) {
        <ion-col size="6" size-md="3" size-lg="3">
          <lib-card-list
            [workout]="$any(favorite.workout)"
            [useBookmark]="true"
            [isFavorite]="true"
            (clickCardEvent)="clickCard($event)"
            (clickFavoriteEvent)="clickFavorite($event)"
          ></lib-card-list>
        </ion-col>
      } @empty {
      @if(!this._loader.getLoading()){
       <lib-empty-elements-component [message]="this.messsageList| translate">
      </lib-empty-elements-component> 
      }
      }
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    (ionInfinite)="onIonInfinite($event)"
    [disabled]="isInfiniteScrollDisabled()"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
