 ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
}
ion-buttons[slot='start'] {
  margin-left: 8px;
}

ion-buttons[slot='end'] {
  margin-right: 8px;
}

.action-button {
  width: 40px;
  height: 40px;

  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  background: #f0f4f9;
  border-radius: 12px;

  margin-left: 6px;

  ion-icon {
    font-size: 24px;
  }
}
