<ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon name="home-outline" color="secondary"></ion-icon>
        <ion-text color="dark">Entrenamientos</ion-text>
      </ion-tab-button>
      <ion-tab-button tab="user-conversations">
        <ion-icon name="chatbox-ellipses-outline" color="secondary"></ion-icon>
        <ion-text color="dark">Mensajes</ion-text>
      </ion-tab-button>
      <ion-tab-button tab="user-subscriptions">
        <ion-icon name="pricetag-outline" color="secondary"></ion-icon>
        <ion-text color="dark">Suscriptores</ion-text>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline" color="secondary"></ion-icon>
        <ion-text color="dark">Perfil</ion-text>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
