<div class="faq-container">

  <div class="faq-header">
    <ion-text>
      <h2>{{ headerTitle }}</h2>
    </ion-text>
    <ion-text color="primary" class="view-all-button" (click)="toggleAll()">
      {{ viewAllText }}
    </ion-text>
  </div>

  <ion-list class="faq-list" lines="none">

    <div class="faq-item-wrapper" *ngFor="let item of items">
      <ion-accordion-group>
        <ion-accordion [value]="item.question" [(ngModel)]="item.isOpen">

          <ion-item slot="header" color="light" class="faq-question">
            <ion-label>{{ item.question }}</ion-label>
            <ion-icon
              slot="end"
              [name]="item.isOpen ? 'chevron-up-outline' : 'chevron-down-outline'">
            </ion-icon>
          </ion-item>

          <div slot="content" class="faq-answer">
            <p>{{ item.answer }}</p>
          </div>

        </ion-accordion>
      </ion-accordion-group>
    </div>

  </ion-list>
</div>
