<ion-content>
  <app-layout-content
    customClass="profile-page"
    [title]="'profile.title' | translate"
  >
    <ion-grid content-body class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="container-avatar">
            <app-avatar-profile
              size="small"
              [imageUrl]="this.sesionService.user$()?.profilePictureUrl"
              (changeImage)="onMenuItemClick('changePhoto')"
            >
            </app-avatar-profile>
            <div class="container-info">
              <span class="title">{{ this.sesionService.user$()?.nickName}}</span>
              <span class="subtitle">{{ this.sesionService.user$()?.email}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="container-link">
            <div class="container-card" *ngFor="let item of menuOptions"  (click)="onMenuItemClick(item.action)" >
              <img [src]="item.icon" alt="{{ item.name }}">
              <span>{{ item.name }}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="menu-items">
        <ion-col size="12">
          <app-item-list
            *ngFor="let item of menuItems"
            [text]="item.text"
            [icon]="item.icon"
            [iconEnd]="item.iconEnd"
            [showArrow]="item.showArrow ?? false"
            [labelClass]="item.labelClass"
            (itemClick)="onMenuItemClick(item.action)"
          >
          </app-item-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-layout-content>
</ion-content>
