<ion-header class="app-header ion-safe-area">
  <div class="header-content ion-safe-area">
    <div class="logo-section">
      <ion-img src="./assets/images/logo-con-letras.svg" alt="BodyBooster" class="app-logo" />
    </div>
    <div class="header-actions">
      <ion-button fill="clear" size="small" class="header-icon-btn" (click)="openSearch()">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- 
      De momento se oculta la notificación
      <ion-button fill="clear" size="small" class="header-icon-btn">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" size="small" class="header-icon-btn" (click)="goToFavorites()">
        <ion-icon name="bookmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="workout-home-content ion-safe-area">
  <!-- Biblioteca de ejercicios -->
  <div class="section">
    <!-- <div class="section-header">
      <h2 class="title">Biblioteca de ejercicios</h2>
    </div> -->
    @if (workoutMaxLikes()) {
      <lib-card-max-likes [workout]="workoutMaxLikes()!"></lib-card-max-likes>
    }
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="section">
    <div
      class="section-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h2 class="title ion-no-margin">{{ 'home.types-training' | translate }}</h2>
      <ion-button
        color="secondary"
        class="show-all"
        fill="clear"
        [disabled]="!workoutLevelSelected()"
        (click)="clearWorkoutLevelSelection()"
        >{{ 'home.show-all' | translate }}</ion-button
      >
    </div>
    @if (workoutLevels().length > 0) {
      <ion-grid>
        <ion-row class="levels-row">
          @for (level of $any(workoutLevels()); track level.levelId) {
            <ion-col size="4">
              <ion-chip
                class="workout-level-chip"
                [outline]="true"
                (click)="selectWorkoutLevel(level)"
                [class.active]="workoutLevelSelected() === level.levelId"
                >{{ level.description }}
              </ion-chip>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    }
  </div>

  <ion-grid class="workout-grid">
    <ion-row gap="5px">
      @for (workout of workouts(); track workout.workoutId) {
        <ion-col size="6" size-md="3" size-lg="3">
          <lib-card-list
            [workout]="workout"
            [useBookmark]="true"
            [isFavorite]="isFavorite(workout.workoutId)"
            (clickCardEvent)="clickCard($event)"
          ></lib-card-list>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
  @if (workouts().length === 0 && !workoutMaxLikes()) {
    <div class="empty-section">
      <ion-img
        src="/assets/images/empty/ejercices.png"
        alt="No hay entrenamientos"
        class="empty-image"
      />
      <p class="empty-title">{{ 'home.no-workouts' | translate }}</p>
      <p class="empty-subtitle">{{ 'home.create-first-workout' | translate }}</p>
    </div>
  }
  <ion-infinite-scroll
    (ionInfinite)="onIonInfinite($event)"
    [disabled]="isInfiniteScrollDisabled()"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
