<ion-content
  class="suscription-creator-content ion-no-padding"
  [fullscreen]="true"
>
  <ion-back-button
    icon="arrow-back-outline"
    class="ion-no-padding bb-goback"
    [defaultHref]="
      '/home/suscriptions/suscription-creator/' + creator()?.userId
    "
    uppercase="false"
    text=""
    style="position: absolute; top: 16px; left: 16px; z-index: 10"
  ></ion-back-button>
  <div class="container-header-subscription">
    <img src="assets/images/logo/logo.svg" alt="" class="img-logo" />
    <ion-text class="subscription-title"
      >Suscripción<br /><ion-text class="creator-name" color="secondary">{{
        fullName()
      }}</ion-text></ion-text
    >

    <ion-text class="description" color="white"
      >Obtén acceso a la selección de entrenamientos y clases que se ofrecen en
      la aplicación.</ion-text
    >
  </div>

  @if( creator() ) {
  <app-layout-content customClass="suscription-creator-page ion-padding">
    <ion-grid content-body>
      <ion-radio-group
        [ngModel]="selectedPaymentFrequencyId()"
        (ngModelChange)="selectedPaymentFrequencyId.set($event)"
      >
        @for (payment of creator().billingCycles; track payment.billingCycleId)
        {
        <ion-item
          lines="none"
          (click)="selectPaymentFrequency(payment)"
          [ngClass]="{
                selected: payment.billingCycleId   === selectedPaymentFrequencyId(),
              }"
        >
          <ion-radio
            class="bb-radio"
            slot="start"
            [value]="payment.billingCycleId"
          ></ion-radio>
          <ion-label>
            <ion-text
              >{{ payment.interval }}
              {{ payment.interval === 1 ? 'mes' : 'meses' }}</ion-text
            >
            <br />
            <ion-note class="recommended-label">
              {{ payment.description }}
            </ion-note>
          </ion-label>
          <ion-text slot="end" class="payment-amount">
            <app-currency [amount]="payment.amount"></app-currency>
          </ion-text>
        </ion-item>
        }
      </ion-radio-group>
    </ion-grid>
    <div content-footer class="ion-text-center">
      <ion-button
        color="tertiary"
        class="bb-input"
        expand="block"
        shape="round"
        routerLink="/home/suscriptions/payment-methods"
      >
        {{ 'Suscribirse' | translate }}
      </ion-button>
    </div>
  </app-layout-content>
  }@else {
  <app-list-skeleton [itemRepeat]="3"></app-list-skeleton>
  }
</ion-content>
