<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="training" [routerLink]="'training'">
        <ion-icon name="home-outline" [style.color]="colorService.profileColor()"></ion-icon>
        <ion-text color="dark">Entrenamientos</ion-text>
      </ion-tab-button>
      <ion-tab-button tab="user-conversations" [routerLink]="'user-conversations'">
        <ion-icon name="chatbox-ellipses-outline" [style.color]="colorService.profileColor()"></ion-icon>
        <ion-text color="dark">Mensajes</ion-text>
        @if (userConversationService.unreadSummary$().hasUnread) {
        <ion-badge color="primary">{{ userConversationService.unreadSummary$().conversationsWithUnread }}</ion-badge>
        }
      </ion-tab-button>
      <ion-tab-button tab="user-subscriptions" [routerLink]="'user-subscriptions'">
        <ion-icon name="pricetag-outline" [style.color]="colorService.profileColor()"></ion-icon>
        <ion-text color="dark">Suscriptores</ion-text>
      </ion-tab-button>
      <ion-tab-button tab="profile"  [routerLink]="'profile'">
        <ion-icon name="person-outline" [style.color]="colorService.profileColor()"></ion-icon>
        <ion-text color="dark">Perfil</ion-text>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
