
<ion-content>
  <app-layout-content 
    customClass="personal-data-page"
    [title]="'profile.personal-data' | translate"
    [useGoBack]="true"
    
  >
    <div content-body>
      <ion-grid>
        <!-- Sección de Información Básica -->
        <ion-row>
          <ion-col size="12">
            <h2 class="title">{{ 'profile.basic-info' | translate }}</h2>
            <app-athlete-profile-basic-form
              [form]="basicForm"
              (imageSelected)="onImageSelected($event)"
              (maskSelected)="onMaskSelected($event)"
              (formSubmit)="onBasicFormSubmit($event)">
            </app-athlete-profile-basic-form>
          </ion-col>
        </ion-row>

        <!-- Sección de Información Física -->
        <ion-row>
          <ion-col size="12">
            <h2  class="title">{{ 'profile.physical-info' | translate }}</h2>
            <app-athlete-physical-info-form
              [form]="physicalForm"
              (formSubmit)="onPhysicalFormSubmit($event)">
            </app-athlete-physical-info-form>
          </ion-col>
        </ion-row>

        <!-- Botones de Acción -->
        <ion-row>
          <ion-col size="12">
            <ion-button 
              shape="round"
              expand="block" 
              color="tertiary"
              (click)="saveAllChanges()"
              [disabled]="!isFormsValid()">
              {{ 'common.save-changes' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </app-layout-content>
</ion-content>
