ion-list {
  background: transparent;
  padding: 0px 0px;
  margin: 0px !important;
}

.card-item {
  display: block;
  margin-bottom: 12px;
}

.bottom-sheet-modal {
  --height: auto;
  .ion-backdrop {
    opacity: 0.5;
  }

  .ion-page {
    position: relative;
    contain: content;
  }
}

ion-modal {
  --border-radius: 6px;
}

.header-logo {
  max-width: 40% !important;
}

