<ion-content>
  <app-layout-content customClass="login-page">
    <ion-grid content-header>
      <ion-row>
        <ion-col
          ><app-header [text]="'login.welcome-user' | translate"></app-header
        ></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid content-body>
      <app-login-form
        [usertype]="userType"
        (loginSubmit)="onLogin($event)"
        (recoverPassword)="onRecoverPassword()"
      ></app-login-form>
    </ion-grid>
    <div content-footer class="ion-text-center">
      <ion-button fill="clear" [routerLink]="['/create-account']">
        <ion-text class="question">{{
          'login.no-account' | translate
        }}</ion-text>
        &nbsp;
        <ion-text color="secondary" class="link">{{
          'login.register' | translate
        }}</ion-text>
      </ion-button>
      <ion-row class="version-text">
        <ion-col>
          <ion-text color="medium" class="version-label">{{
            'Version: ' | translate}} {{env.appVersion}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="medium" class="version-label">{{
            'Environment: ' | translate}} {{env.ENV}}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </app-layout-content>
</ion-content>