<ion-header class="header-contariner-workoutasset">
  <ion-back-button icon="arrow-back-outline" color="secondary" class="bb-goback" [defaultHref]="''" uppercase="false"
    text=""></ion-back-button>
</ion-header>
<ion-content [fullscreen]="true" class="ion-no-padding">
  <ion-grid class="player-video-container">
    <ion-row>
      <ion-col>
        <div style="overflow: hidden; width: 100%; height: 400px">
          @if (isYoutube()) {
          <lib-youtube-video [videoUrl]="url()" [playVideo]="isPlaying()"
            (isPlaying)="isPlaying.set($event)"></lib-youtube-video>
          }
          @if (isRoutine()) {
          <lib-custom-video-player [videoUrl]="url()" [playVideo]="isPlaying()" (videoPlay)="isPlaying.set(true)"
            (videoPause)="isPlaying.set(false)"></lib-custom-video-player>
          }
          @if (isDocument()) {
          <lib-view-pdf [url]="url()"></lib-view-pdf>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <div class="video-container">
      @if (false) {
      <ion-grid class="ion-margin-top">
        <ion-row>
          <ion-col>
            <ion-button fill="clear" class="btn-option" (click)="toggleLike()">
              <div class="container">
                <ion-icon [name]="isLiked() ? 'heart' : 'heart-outline'" color="secondary"></ion-icon>
                <ion-text>{{ 'workout-asset.like' | translate }} </ion-text>
              </div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" class="btn-option" (click)="toggleFavorite()">
              <div class="container">
                <ion-icon [name]="isFavorite() ? 'bookmark' : 'bookmark-outline'" color="secondary"></ion-icon>
                <ion-text>{{ 'workout-asset.save' | translate }}</ion-text>
              </div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" class="btn-option" (click)="openReview()">
              <div class="container">
                <ion-icon [name]="rating() ? 'star' : 'star-outline'" color="secondary"></ion-icon>
                <ion-text>{{ 'workout-asset.rate' | translate }}</ion-text>
              </div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      }
      <div class="description-text">
        <ion-text> Titulo:  <span class="text-description">{{ workoutAsset()?.name | sentenceCase }}</span> </ion-text>
        <ion-text> Descripcion: <span class="text-description">{{ workoutAsset()?.description || `Sin descripcion proporcionada por creador` | sentenceCase }}</span> </ion-text>
        <lib-workout-information-time-likes-coments
          [workoutAsset]="workoutAsset()"></lib-workout-information-time-likes-coments>
      </div>
    </div>

    <ion-item-divider mode="md"></ion-item-divider>
    <div style="margin-bottom: 170px">
      <lib-workout-comments [workoutAssetId]="workoutAsset()?.workoutAssetId"
        [newComment]="latestComment()"></lib-workout-comments>
    </div>
  </div>
  @if (!isDocument()) {
  <ion-fab slot="fixed" vertical="bottom" class="ion-padding" style="width: 100%" horizontal="center">
    <ion-button expand="block" fill="solid" color="tertiary" shape="round" (click)="playVideo()">
      {{
      isPlaying() ? ('workout-asset.pause' | translate) : ('workout-asset.start' | translate)
      }}
    </ion-button>
  </ion-fab>
  }
</ion-content>