<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>Coach Body Booster</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string
          >com.googleusercontent.apps.728116258989-oe719k2gf7ec5h0tob0v285bkertf0gt</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necesitamos acceso al micrófono para grabar videos con audio.</string>
	<key>NSCameraUsageDescription</key>
	<string
    >Necesitamos acceso a tu cámara para que puedas tomar fotos y grabar videos directamente en la app y luego subirlos a la plataforma como contenido para tus atletas. Ejemplo: graba un video explicativo de un ejercicio y publícalo para que tus atletas lo vean.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string
    >Necesitamos acceso a tu biblioteca de fotos para que puedas seleccionar imágenes, videos o PDFs existentes y subirlos a la plataforma como material de entrenamiento para tus atletas. Ejemplo: elige un PDF con una rutina de ejercicios desde tu galería y compártelo con tus suscriptores.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string
    >Permítenos guardar fotos y videos en tu fototeca para que no pierdas tus creaciones.</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
	<key>UIStatusBarHidden</key>
	<false />
		<key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>io.bb.body.booster.creator</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>coach-body-booster-app</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
