:host {
  display: block;

  .suscription-creator-content {
    ion-item {
      margin-bottom: 24px;
      border-radius: 12px;
      font-size: 18px;
      color: var(--ion-color-bb-text-title);
      font-weight: 600;
      --min-height: 92px;

      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
        0 1px 3px 1px rgba(0, 0, 0, 0.15);

      .payment-amount {
        font-style: normal;
        line-height: 24px;
      }
      .recommended-label {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.2px;
      }
    }

    ion-item.selected::part(native) {
      border: 3px solid var(--ion-color-secondary);
      border-radius: 12px;
    }
  }
}
