<ion-header class="app-header ion-safe-area">
  <div class="header-content ion-safe-area">
    <div class="logo-section">
      <img
        src="./assets/images/logo-con-letras.svg"
        alt="BodyBooster"
        class="app-logo"
      />
    </div>
    <div class="header-actions">
      <ion-button fill="clear" size="small" class="header-icon-btn">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" class="header-icon-btn">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="workout-home-content ion-safe-area">
  <!-- Header con botón de nuevo entrenamiento -->
  <div class="header-section">
    <ion-button
      expand="block"
      fill="solid"
      class="new-workout-btn"
      color="tertiary"
      (click)="onNewWorkoutClick()"
    >
      <ion-icon name="barbell" slot="start"></ion-icon>
      Nuevo entrenamiento
    </ion-button>
  </div>

  <!-- Biblioteca de ejercicios -->
  <div class="section">
    <div class="section-header">
      <h2>Biblioteca de ejercicios</h2>
      <ion-button
        fill="clear"
        size="small"
        class="see-all-btn"
        color="secondary"
      >
        Ver todo
      </ion-button>
    </div>

    <div class="exercise-card featured-card">
      <img
        src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?w=400&h=300&fit=crop"
        alt="HIIT Workout"
      />
      <div class="card-overlay">
        <div class="card-content">
          <h3>Hiit Workout 1</h3>
          <div class="card-stats">
            <div class="stat">
              <ion-icon name="heart"></ion-icon>
              <span>8.300 seguidores</span>
            </div>
            <span class="separator">•</span>
            <span class="difficulty-text">Intermedio</span>
          </div>
        </div>
        <div class="functional-badge">Funcional</div>
      </div>
    </div>
  </div>
  <ion-grid class="workout-grid">
    <ion-row gap="5px">
      @for (workout of workouts(); track workout.workoutId) {
      <ion-col size="6">
        <lib-card-list [workout]="workout"></lib-card-list>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
