<ion-content class="detail-workout-content ion-no-padding" [fullscreen]="true">
  <div class="header" [ngClass]="{ 'ios-platform': isIos }">
    <ion-back-button
      color="secondary"
      icon="arrow-back-outline"
      class="bb-goback"
      [defaultHref]="'/home'"
      uppercase="false"
      text=""
    ></ion-back-button>
    <ion-button fill="clear" size="small" class="lovely-btn" (click)="toggleLike()">
      <ion-icon
        [name]="isLiked() ? 'heart' : 'heart-outline'"
        color="secondary"
        class="bookmark-icon"
      ></ion-icon>
    </ion-button>
  </div>

  <div
    class="container-header-img-workout"
    [style.background-image]="
      'linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 101.65%), url(' + workout.workoutUrl + ')'
    "
    style="background-size: cover; background-position: center; background-repeat: no-repeat"
  >
    <div class="container-header">
      <h1>{{ workout.title }}</h1>
      <div class="info-workout">
        <span class="workout-likes">
          <ion-icon name="heart"></ion-icon>

          {{ workout.totalLikes }} {{ 'likes' | translate }}</span
        >
        <ion-chip class="chip">
          <ion-label>{{ level ?? 'Recomendacion' }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
  <ion-grid class="ion-padding margin-b-80">
    <!-- <ion-row>
      <ion-col class="ion-no-padding">
        <div class="categories-creator-profile">
          @for (category of $any(workout?.categories); track category.categoryId) {
          <ion-chip [outline]="true" class="chip">
            <ion-label>{{ category?.category?.name || '--' }}</ion-label>
          </ion-chip>
          }
        </div>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-text class="workout-title">{{ 'description' | translate }}: </ion-text>
      </ion-col>
      <ion-col class="ion-no-padding">
        <p class="workout-description">{{ workout.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      @for (asset of workout.assets; let i = $index; track asset.workoutAssetId) {
        <ion-col class="" size="12">
          <ion-item
            lines="none"
            class="workouts-items"
            (click)="viewDetailRutine(asset)"
            detail="false"
            [button]="true"
          >
            <div class="container-video" slot="start">
              <ion-icon
                [name]="workout.workoutTypeId === TYPE_ASSETS.DOCUMENT ? 'document' : 'play'"
              ></ion-icon>
            </div>
            <div class="info-workout-item">
              <div class="body">
                <ion-text color="secondary" class="exercise-number"
                  >{{
                    (workout.workoutTypeId === TYPE_ASSETS.DOCUMENT ? 'document' : 'exercise')
                      | translate
                  }}
                  {{ i + 1 }}</ion-text
                >
                <ion-text class="exercise-description">{{ asset.name | sentenceCase }}</ion-text>
              </div>
              <div class="footer">
                <ion-text>
                  <ion-icon name="timer-sharp"></ion-icon> {{ asset.duration || 0 }} m</ion-text
                >|
                <ion-text> <ion-icon name="heart"></ion-icon> {{ asset.likes || 0 }}</ion-text>
                <ion-text>
                  <ion-icon name="chatbox-sharp"></ion-icon> {{ asset.messages || 0 }}</ion-text
                >
              </div>
            </div>
          </ion-item>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
