<ion-content class="forgot-password-content" >
  <app-layout-content
    customClass="forgot-password-page"
    [title]="'forgot-password.title' | translate"
    [useGoBack]="true"
  >
    <ion-grid content-body>
      <app-otp
        [email]="this.email"
        [apiUrl]="this.BASE_URL"
        [showButtonSend]="false"
        [userTypeId]="userTypeId"
        (otpSuccess)="onOtpSuccess($event)"
      ></app-otp>
    </ion-grid>
    <!-- Removed unnecessary footer button -->
  </app-layout-content>
</ion-content>