<ion-content>
  <app-layout-content
    customClass="categories-page"
    [useGoBack]="true"
    [title]="'categories.title' | translate"
  >
    <div content-body>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p class="subtitle">{{ 'categories.content-creation-categories' | translate }}</p>
            @if (!isLoading()) {
              <app-categories-select
                [defaultSelected]="categoriesSelected()"
                (selectedCategories)="onSelectedCategories($event)"
              >
              </app-categories-select>
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div content-footer class="ion-padding">
      <ion-button
        shape="round"
        expand="block"
        color="tertiary"
        (click)="saveCategories()"
        [disabled]="isLoading() || isSaving()"
      >
        {{ 'common.save-changes' | translate }}
      </ion-button>
    </div>
  </app-layout-content>
</ion-content>
