<ion-content class="forgot-password-content" >
  <app-layout-content
    customClass="forgot-password-page"
    [title]="'forgot-password.title' | translate"
    [useGoBack]="true"
  >
    <ion-grid content-body>
      <form>
        <app-otp
          [email]="this.email"
          [apiUrl]="this.BASE_URL"
          [showButtonSend]="false"
          (otpSuccess)="onOtpSuccess($event)"
        ></app-otp>
      </form>
    </ion-grid>
    <div content-footer class="ion-text-center">
      <ion-button
        color="tertiary"
        class="bb-input"
        expand="block"
        shape="round"
        (click)="(null)"
        [disabled]="this.otp.length < 4"
      >
        {{ "continue" | translate }}
      </ion-button>
    </div>
  </app-layout-content>
</ion-content>
