<div class="header-container">
  <app-header-search (clickSearch)="openDetailModal()"></app-header-search>
  <section class="header-info-container">
    <span class="title">Mensajes</span>
  </section>
</div>

<ion-content>
  <app-layout-content [customClass]="'subscriptions-page'">
    <div content-body class="ion-no-padding">
      <ion-list>
        <ion-item
          *ngFor="let subscription of subscriptions"
          class="subscription-item"
          [lines]="'none'"
        >
          <ion-avatar slot="start">
            <img [src]="subscription.avatarUrl" [alt]="subscription.userName" />
          </ion-avatar>
          <ion-label>
            <h2>{{ subscription.userName }}</h2>
            <p>{{ subscription.subscriptionPeriod }}</p>
          </ion-label>
          <ion-button fill="clear" slot="end">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </app-layout-content>
</ion-content>
